.text__container {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #090d00;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.25);
  margin: 0;
}

.up__text {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
}

.search__text {
  font: 800 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em;
  display: block;
  margin-right: 50px;
  margin-left: 50px;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
