@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.card {
  margin: auto;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-top: 30px;
}
.card:hover {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.card_left {
  width: 50%;
  height: 200px;
  float: left;
  overflow: hidden;
  background: transparent;
}
.card_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.card_right {
  width: 50%;
  float: left;
  background: #000;
  height: 200px;
  text-align: center;
  border-radius: 0 10px 10px 0;
}
.card_right__review {
  position: relative;
  top: 50%;
  left: 50%;
  padding: auto;
  transform: translate(-50%, -50%);
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.artist_name {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffda00;
}
.card_right__button {
  margin: 30px 0 0 0;
}
.card_right__button a {
  color: #ffda00;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 30px 10px 30px;
  font-size: 12px;
}
.card_right__button a:hover {
  color: #000;
  background-color: #ffda00;
}
